# Project exclude paths
/out/production/algorithm-leetcode-master/
/out/production/algorithm-pratice/
/out/production/algorithmbasic2020-master/
/out/production/leetcode-top-interview-questions-master/
/out/production/publicclass2020-master/
/out/production/trainingcamp001-master/
/out/production/trainingcamp004-master/
/out/production/trainingcamp005-master/